.udCarousel{
    position: relative;
    color: skyblue;
    display: flex;
}
.udCarouselItem{
    color: skyblue;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.udCarouselItems>:first-child{
    z-index: 1;
}
.udCarouselItems{
    width: 100%;
}
.leftArrow{
    position: absolute;
    color: white;
    height: 100%;
    z-index: 3;
    left: 0px;
    display: flex;
    align-items: center;
    padding-left: 5vw;
    padding-right: 10vw;
}
.leftArrow>span{
    filter: drop-shadow(0px 1px 2px black);
}
.rightArrow{
    position: absolute;
    color: white;
    height: 100%;
    z-index: 3;
    right: 0px;
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 5vw;
}
.rightArrow>span{
    filter: drop-shadow(0px 1px 2px black);
}
.transform{
    animation: translate 1s ease-out forwards;
}
@keyframes translate{
    from{
        transform:translate(0%,0%);
    }
    to{
        transform:translate(-100%,0%);
    }
}

.transformOpp{
    animation: translate1 1s ease-out forwards;
}
@keyframes translate1{
    from{
        transform:translate(0%,0%);
    }
    to{
        transform:translate(100%,0%);
    }
}